{% extends 'layout.html' %}

<!-- Blockbody es lo que semostraria en el blockbody de layout.html -->
{% block body %}

  <div class=".col-md-7">
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td>DATE</td>
          <td>TOTAL</td>
          <td>SUBTOTAL</td>
          <td>TAXES</td>
          <td>PAID</td>
        </tr>
      </thead>
      <tbody>
        {% for contact in data_one %}
        <tr>
          <td>{{ contact.get("orderdate") }}</td>
          <td>USD {{ contact.get("ordertotal") }}</td>
          <td>USD {{ contact.get("ordersubtotal") }}</td>
          <td>USD {{ contact.get("ordertaxes") }}</td>
          <td>{{ contact.get("orderpaid") }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
