{% extends 'layout.html' %}

<!-- Blockbody es lo que semostraria en el blockbody de layout.html -->
{% block body %}

  <div class=".col-md-7">
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <td>NAME</td>
          <td>LASTNAME</td>
          <td>GOV_ID</td>
          <td>EMAIL</td>
          <td>COMPANY</td>
        </tr>
      </thead>
      <tbody>
        {% for info in data_one %}
        <tr>
          <td>{{ info.get("name") }}</td>
          <td>{{ info.get("lastname") }}</td>
          <td>{{ info.get("govid") }}</td>
          <td>{{ info.get("email") }}</td>
          <td>{{ info.get("company") }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
